* {
  text-align: left;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  place-items: left;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  margin-top: 88px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ff4400;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#visitorInfo {
  display: flex;
  flex-direction: column;
  height: 30vh;
  overflow-y: scroll;
}

#visitorForm {
  display: flex;
  flex-direction: column;
  gap: 1em;
  bottom: 0;
  /* outline: 2px solid #646cff; */
}

#visitorInfo div {
  display: flex;
  flex-direction: row;
  gap: 1em;
  /* outline: 2px solid #646cff; */
}

#visitorInfo div p {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  /* outline: 2px solid #646cff; */
  text-align: left;
}

#comment-box {
  flex-grow: 1;
  flex-basis: 150ch;
}

#name-date {
  flex-basis: 40ch;
  flex-shrink: 1;
}

.nav-bar {
  position: fixed;
  height: 110px;
  width: 100vw;
  background-color: #ff4400;
}

#logo-style {
  display: flex;
  padding-left: 20px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media (width <= 768px) {
  #logo-style {
    display: flex;
    padding-left: 20px;
    font-weight: bold;
    font-size: large;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .nav-bar {
    position: fixed;
    height: 50px;
    width: 100vw;
  }
  #app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: left;
    margin-top: 18px;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 768px) {
  #logo-style {
    display: flex;
    padding-left: 20px;
    font-weight: bold;
    font-size: xx-large;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .nav-bar {
    position: fixed;
    height: 70px;
    width: 100vw;
  }
  #app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: left;
    margin-top: 38px;
  }
}

.delete-button {
  height: 30px;
  font-size: xx-small;
  background-color: rgb(147, 17, 43);
  margin-top: 16px;
  margin-bottom: 16px;
}
